/* ==================================================
User agent styles reset / normalization
================================================== */

/* Box sizing */
*, 
*::before, 
*::after {
  box-sizing: border-box;
}

/* Default margins and padding removal */ 
* {
  margin: 0;
  padding: 0;
}

/* Text rendering optimization */
html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; 
  text-rendering: optimizeLegibility;
}

/* Default body styles rewriting */
body {
  min-height: 100vh;
  line-height: 1.25;
}

/* Default button styles rewriting */
button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

/* Default list styles removal */
ul,
ol {
  list-style: none;
}

/* Default anchor element styles removal */ 
a {
  text-decoration: none;
  color: inherit;
}

/* Possible text overflow prevention */
div, 
p, 
h1, 
h2, 
h3, 
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Focus handling improvement */ 
:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}