/* ==================================================
Application static layout
================================================== */

:root {
  --sidebar-width: 20vw;
}

.app__header {
  display: flex;
  flex-direction: row;
  height: 4vh;
}

.app__layout {
  display: flex;
  flex-direction: row;
  height: 96vh;
}

.app__sidebar {
  flex: 0 0 var(--sidebar-width);
}

.app__editor {
  flex: 1 0 80vw;
}