/* ==================================================
Application static layout
================================================== */

:root {
  --sidebar-width: 20vw;
}

.app__header {
  display: flex;
  flex-direction: row;
  height: 4vh;
}

.app__layout {
  display: flex;
  flex-direction: row;
  height: 96vh;
  width: 100vw;
}

.app__sidebar {
  flex: 0 0 var(--sidebar-width);
  min-width: 0;
  max-width: 80vw;
}

.app__editor {
  flex: 1 1 auto;
  min-width: 0;
}