/* ==================================================
Application header area
================================================== */

.app__header {
  border-bottom: 1px solid black;
}

.header__controls {
  border-right: 1px solid black;
  width: 20%;
}

.header__tabs {
  width: 80%;
}