/* ==================================================
Application header area
================================================== */

.app__header {
  border-bottom: 1px solid black;
}

.header__controls {
  align-content: center;
  border-right: 1px solid black;
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  width: 20%;
}

.header__tabs {
  width: 80%;
}