/* ==================================================
Application header area
================================================== */

:root {
  --header-width: 20vw; 
}
.app__header {
  border-bottom: 1px solid black;
}

.header__controls {
  align-content: center;
  background-color: blanchedalmond;
  display: flex;
  flex: 0 0 var(--header-width);
  flex-direction: row;
  padding-left: 16px;
  min-width: 0;
  max-width: 75vw;
}

.header__tabs {
  flex: 1 1 auto;
  min-width: 0;
}