/* ==================================================
Application header area
================================================== */

.app__header {
  border-bottom: 1px solid black;
}

.header__controls {
  align-content: center;
  border-right: 1px solid black;
  display: flex;
  flex: 0 0 20%;
  flex-direction: row;
  padding-left: 16px;
}

.header__tabs {
  flex: 1 0 80%;
}