:root {
  --sidebar-width: 20vw;
}

.layout-splitter {
  background: transparent;
  cursor: col-resize;
  height: 96vh;
  inset: 4vh auto auto var(--sidebar-width);
  position: fixed;
  width: 10px;
  z-index: 1000;
}

.layout-splitter::after {
  background: rgba(0,0,0,0.15);
  content: '';
  height: 100%;
  inset: 0 auto auto 1px; 
  position: absolute;
  width: 2px;
}