:root {
  --sidebar-width: 20vw;
}

.layout-splitter {
  position: fixed;
  top: 4vh; 
  left: var(--sidebar-width);
  width: 4px;
  height: 96vh;
  cursor: col-resize;
  background: transparent;
  z-index: 1000;
}

.layout-splitter::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  width: 2px;
  height: 100%;
  background: rgba(0,0,0,0.15);
}